---
name: ci

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-test:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}"

    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9"]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v1"
        with:
            python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          set -xe
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install pytest
          python -m pip install -r requirements-test.txt
        shell: bash
      - name: "Build"
        run: |
          if [[ `uname` == "Darwin" ]]
          then
            echo "build --macos_minimum_os=10.9" >> ${HOME}/.bazelrc
          fi
          set -xe
          python -VV
          bazel --version
          python setup.py sdist
          pip wheel --verbose --no-deps --no-clean dist/dm-tree*.tar.gz
          pip install dm_tree*.whl
        shell: bash
      - name: "Run tests"
        run: |
          set -xe
          # Change directory to avoid importing tree from repo root.
          mkdir tests && pushd tests
          python -m pytest -vv --pyargs tree
          popd
        shell: bash
      - uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'release' && github.event.action == 'created') }}
        with:
          path: dm_tree*.whl
      - uses: actions/upload-artifact@v2
        if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'release' && github.event.action == 'created') }}
        with:
          path: dist/dm-tree*.tar.gz
  build-aarch64:
    name: "Build wheel ${{ matrix.pyver }} aarch64"
    strategy:
      matrix:
        pyver: [cp36-cp36m, cp37-cp37m, cp38-cp38, cp39-cp39]
        arch: [aarch64]
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      py: /opt/python/${{ matrix.pyver }}/bin/python
      img: quay.io/pypa/manylinux2014_${{ matrix.arch }}
    steps:
    - uses: "actions/checkout@v2"
    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v1
    - name: "Build wheel"
      run: |
        docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws \
          ${{ env.img }} \
          bash -exc '${{ env.py }} -m pip install virtualenv && ${{ env.py }} -m venv .env && \
          source .env/bin/activate && \
          python -m pip install --upgrade pip setuptools wheel && \
          python -m pip install pytest && \
          python -m pip install -r requirements-test.txt && \
          python -VV && \
          yum -y install wget sudo && \
          wget -O "bazel-linux-arm64" "https://github.com/bazelbuild/bazel/releases/download/3.6.0/bazel-3.6.0-linux-arm64" && \
          chmod +x bazel-linux-arm64 && \
          mv bazel-linux-arm64 /usr/bin/bazel && \
          file /usr/bin/bazel && \
          export PATH=/usr/bin/bazel:$PATH
          bazel version && \
          bazel info release && \
          python setup.py sdist && \
          pip wheel --verbose --no-deps --no-clean dist/dm-tree*.tar.gz && \
          pip install dm_tree*.whl && \
          mkdir tests && pushd tests && \
          python -m pytest -vv --pyargs tree && \
          popd && \
          deactivate'
    - uses: actions/upload-artifact@v2
      if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'release' && github.event.action == 'created') }}
      with:
        path: dm_tree*.whl
  run_aarch64:
    runs-on: ubuntu-20.04
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}
    strategy:
      matrix:
        include:
          - arch: aarch64
            distro: ubuntu20.04
    steps:
      - uses: actions/checkout@v2.1.0
      - uses: uraimo/run-on-arch-action@v2.0.5
        name: Build artifact
        id: build
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.distro }}
          setup: |
            mkdir -p "${PWD}/artifacts"
          dockerRunArgs: |
            --volume "${PWD}/artifacts:/artifacts"
          env: | # YAML, but pipe character is necessary
            artifact_name: git-${{ matrix.distro }}_${{ matrix.arch }}
          shell: /bin/sh
          run: |
            uname -m
            apt-get install -y wget
            wget -O "bazel-linux-arm64" "https://github.com/bazelbuild/bazel/releases/download/${version}/bazel-${version}-${platform}-arm64"
            chmod +x bazel-linux-arm64
            mv bazel-linux-arm64 /usr/local/bin/bazel
            file /usr/local/bin/bazel
            bazel version
            bazel info release
